.margin {
  margin-top: 80px !important;
}

button {
  margin-right: 10px;
  font-weight: bold;
  background: #4d7498 !important;
  border: #4d7498 !important;
}

button:hover{
  background: linear-gradient(45deg,#51C8E0, #516EE0) !important;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #9151E0 !important;
  color: #fff; 
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
  position: absolute;
  z-index: 99999 !important;
  bottom:125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

input#dataTransferencia {
  width: 400px !important;
}

@media screen and (max-width: 500px) {
  input#dataTransferencia {
    width: 100% !important;
  }
}