.table .thead-dark th {
  color: #fff;
  background-color: #6251E0;
  border-color: #6251E0;
}

.margin {
    margin-top: 80px !important;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #9151E0 !important;
  color: #fff; 
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
  position: absolute;
  z-index: 99999 !important;
  bottom:40%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.button-title {
  position: relative;
  display: inline-block;
  width: 110px;
}

.text-title {
  bottom:125%;
  font-size: 13px;
}

button {
  margin-right: 3px;
  font-weight: bold;
  background: #4d7498 !important;
  border: #4d7498 !important;
}

button:hover{
  background: linear-gradient(45deg,#51C8E0, #516EE0) !important;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #6251E0;
  border-color: #6251E0;
}


.highlight-zero-tax {
  background-color: #51C8E0; 
  color: #FFFF;
}

.square{
  width: 30px;
  height: 30px;
  background-color: #51C8E0;
  display: flex;
  float: right;
}

.p-legend {
  display: flex;
  float: right;
  padding: 0 15px;
}

.p-legend strong{
  padding: 0 5px;
}

.csv {
  margin-left: -60px;
}