<div *ngIf="loading" class="loading">
  <app-loading></app-loading>
</div>
<div class="container mt-5 margin" *ngIf="loading==false" >
  <h2 class="text-center mb-4">Agendar Transferência</h2>
  <form [formGroup]="transferenciaForm" (ngSubmit)="agendarTransferencia()">
    <div class="mb-3">
      <label for="accountOrigin" class="form-label">Conta de Origem</label>
      <input type="text" class="form-control" id="accountOrigin" formControlName="accountOrigin" required>
      <div *ngIf="transferenciaForm.get('accountOrigin')?.invalid && transferenciaForm.get('accountOrigin')?.touched" class="text-danger">
        Este campo é obrigatório.
      </div>
    </div>

    <div class="mb-3">
      <label for="accountDestination" class="form-label">Conta de Destino</label>
      <input type="text" class="form-control" id="accountDestination" formControlName="accountDestination" required>
      <div *ngIf="transferenciaForm.get('accountDestination')?.invalid && transferenciaForm.get('accountDestination')?.touched" class="text-danger">
        Este campo é obrigatório.
      </div>
    </div>

    <div class="mb-3">
      <label for="transferValue" class="form-label">Valor</label>
      <input 
        type="text" 
        class="form-control" 
        id="transferValue" 
        formControlName="transferValue" 
        required 
      />
      <div *ngIf="transferenciaForm.get('transferValue')?.invalid && transferenciaForm.get('transferValue')?.touched" class="text-danger">
        Este campo é obrigatório e deve ser maior que zero.
      </div>
    </div>

    <div class="mb-3">
      <label for="dateTransfer" class="form-label dateTransfer">Data da Transferência</label>
      <input type="date" class="form-control" id="dateTransfer" formControlName="dateTransfer"  required>
      <div *ngIf="transferenciaForm.get('dateTransfer')?.invalid && transferenciaForm.get('dateTransfer')?.touched" class="text-danger">
        Este campo é obrigatório.
      </div>
    </div>
    
  <div class="tooltip-container button-title">
    <button type="button" class="btn btn-danger"  routerLink="/extrato" >
      <i class="fa fa-file"></i>
    </button>
    <span class="tooltip-text text-title">Extrato de transferências</span>
  </div>

  <div class="tooltip-container button-title">
    <button type="button"  class="btn btn-danger" (click)="limpar()" [disabled]="isFormEmpty">
      <i class="fa fa-eraser"></i>
    </button>
    <span class="tooltip-text text-title">Limpar</span>
  </div>

  <div class="tooltip-container button-title">
    <button  type="submit" class="btn btn-primary" title="Agendar Transferência">
      <i class="fa fa-save"></i>
    </button>
    <span class="tooltip-text text-title">Agendar</span>
  </div>

  </form>
</div>